*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parent{
    width: 300px;
    height: 300px;
    background-color: aqua;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}

#parent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

 #button{
    width:300px;
    height: 100px;
    background:linear-gradient(transparent, rgba(0, 0, 0, 0.493));
position: absolute;  
display: flex;
align-items: center;
justify-content:space-between;
padding: 0 8px;
}

#button h1{
font-size: 20px;
color: white;
font-family: gilroy;
}

#button i{
   padding: 10px 10px;
   background-color: white;
   border-radius: 50px;
}

#parent:hover #button{
bottom: 0%;
transition:cubic-bezier(0.19, 1, 0.22, 1) 2s;
}